@{
    ViewData["Title"] = "UpdatePasswordFail";
}

<div class="page-header page-header-xs" style="background-image: url('/assets/img/sub/bg_sub.png'); ">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h3 class="title">암호 변경 오류</h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="main">
        <!-- section -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-12 mr-auto">
                        <div class="info info-horizontal">
                            <div class="description">
                                <h3> 로그인 하기 </h3>
                                <p>이미 인증이 완료되었을 수도 있습니다. <a href="@Url.Action("LogIn", "Account")">로그인</a>이 되는지 확인해봅니다.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="description">
                                <h3> 암호 변경하기 </h3>
                                <p>암호 변경을 다시 해보세요. 암호 변경을 위한 <a href="@Url.Action("LostPassword", "Account")">메일을 재발송</a>받아봅니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





