@{
    ViewData["Title"] = "Welcome";
}

<div class="page-header page-header-xs" style="background-image: url('/assets/img/sub/bg_sub.png');">
    @*<div class="filter"></div>*@
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h3 class="title text-dark"><b>DAILY 튼튼 가입을 환영합니다.</b></h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <h4>DAILY 튼튼에 가입해 주셔서 감사합니다.</h4>
                <h4>가입하신 이메일 <b>@ViewData["Email"]</b> 에서 인증 링크를 클릭하면 정상적으로 사용하실 수 있습니다.</h4>
            </div>
        </div>
    </div>
</div>






