@{
    ViewData["Title"] = "AdminAuthError";
}

<div class="page-header page-header-xs" style="background-image: url('/assets/img/sub/bg_sub.png');">
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h3 class="title text-dark"><b>정상적인 관리자 접근이 아닙니다.</b></h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <h5 class="description">
                    관리자 계정만 접근할 수 있는 페이지입니다.
                </h5>
                <h5 class="description">
                    <a href="javascript:history.go(-1);"><b>뒤로 가기</b></a>를 클릭하셔서 일반 회원 서비스를 받으시기 바랍니다.
                </h5>
            </div>
        </div>
    </div>
</div>



