<div class="modal-content">
    <div class="modal-body" style="padding-left: 10px; padding-right: 10px;">
        <div class="instruction">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body card-plain">
                        <iframe src="@ViewData["StreamURL"]" frameborder="0" playsinline="false" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen style="height: 410px !important; max-width: none !important; max-height: none !important"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">닫기</button>
    </div>
</div>
