@model DailyTuntun.Models.AdminStreamUpdateModel

<div class="modal-header no-border-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h5 class="modal-title text-center">영상 링크를 업데이트 해주세요.</h5>
</div>

<form name="updateform" id="updateform" method="post" asp-controller="Admin" asp-action="StreamUpdatePartialCheck">
    <div class="modal-body">
        <input type="hidden" name="ContentID" id="ContentID" value="@ViewData["ContentID"]" />
        <div class="form-group">
            <label asp-for="StreamURL" class="control-label"></label><br />
            <label class="control-label text-danger">@ViewData["StreamURL"]</label>
            <span asp-validation-for="StreamURL" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewStreamURL" class="control-label"></label>
            <input asp-for="NewStreamURL" type="text" class="form-control border-input">
            <span asp-validation-for="NewStreamURL" class="text-danger"></span>
        </div>
        <input type="button" id="submit" value="저 장" class="btn btn-block btn-info btn-round" onclick="updateStream()" />
    </div>
</form>


<script type="text/javascript">
    $("#NewStreamURL").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#submit").click();
        }
    });

    function updateStream() {
        var formData = $('#updateform').serialize()

        $.ajax({
            type: "POST",
            url: "/Admin/StreamUpdatePartialCheck",
            data: formData,
            success: function (result) {
                if (result.success == true) {
                    $("#streamModal").modal("hide");
                    location.reload();
                }
            }
        });
    }
</script>