@{
    ViewData["Title"] = "ContentAuthError";
}

<div class="page-header page-header-xs" style="background-image: url('/assets/img/sub/bg_sub.png');">
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h3 class="title text-dark"><b>컨텐츠 확인이 불가능합니다.</b></h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <h5 class="description">
                    아직 해당 컨텐츠에 대한 교재 구입을 하지 않으셨거나, 잘못된 경로를 통해 컨텐츠 페이지에 접근하셨습니다.
                </h5>
                <h5 class="description">
                    <a href="javascript:history.go(-1);"><b>뒤로 가기</b></a>를 클릭하셔서 구매한 제품으로 다시 선택해주세요.
                </h5>
            </div>
        </div>
    </div>
</div>



