@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "버젼관리";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-timeline card-plain">
                <div class="card-body">
                    <ul class="timeline">

                        @*<li class="timeline-inverted">
            <div class="timeline-badge warning">
                <i class="nc-icon nc-single-copy-04"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-warning">ver 2.1 (2019-08-08)</span>
                </div>
                <div class="timeline-body">
                    <p>1) 방문사업 맘스클래스 관리 오픈</p>
                    <p>2) 채널관리 지사정보에서 카카오 지도보기 오픈</p>
                    <p>3) 채널 전체 프로모션 관리 오픈</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge default">
                <i class="nc-icon nc-atom"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-default">ver 2.0 (2019-08-01)</span>
                </div>
                <div class="timeline-body">
                    <p>1) 사업별 메뉴로 재구성 (디자인 개편) *</p>
                    <p>2) 채널 정보 등록시 "테그" 등록 기능 추가</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="nc-icon nc-single-copy-04"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-success">ver 1.2 (2019-02-15)</span>
                </div>
                <div class="timeline-body">
                    <p>지원 부문 엑셀 업로드 기능 오픈 *</p>
                    <p> <div class="text-primary">- EXCEL LIST > 지원전체 > 엑셀 업로드</div></p>
                </div>
                <hr />
                <div class="timeline-footer">
                    <div class="dropdown">
                        <button type="button" class="btn btn-round btn-success dropdown-toggle" data-toggle="dropdown">
                            <i class="nc-icon nc-settings-gear-65"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("SupportExcelUpload", "Support")">엑셀업로드 바로가기</a>
                            <a class="dropdown-item" href="https://www.dropbox.com/s/5g3n6iy0br4u7hw/ChannelSupport%20Ver%204.0.xlsx?dl=0" target="_blank">엑셀업로드 4.0 샘플파일</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>*@
              


                        <li>
                            <div class="timeline-badge info">
                                <i class="nc-icon nc-world-2"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-info">ver 1.2 (2021-02-10)</span>
                                </div>
                                <div class="timeline-body">
                                    <p>데일리튼튼 관리자 상담기능 오픈</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge danger">
                                <i class="nc-icon nc-lock-circle-open"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-danger">ver 1.1 (2021-02-04)</span>
                                </div>
                                <div class="timeline-body">
                                    <p>데일리튼튼 관리자사이트 오픈</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge warning">
                                <i class="nc-icon nc-istanbul"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-warning">ver 1.0 (2021-02-01)</span>
                                </div>
                                <div class="timeline-body">
                                    <p>데일리튼튼 오픈</p>
                                </div>
                            </div> 
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

